{% extends 'base.html' %} {% block content %}
<div class="room-container">
  <div class="message-box" id="boxid">
    <div class="room-h2">
      <h2>Chat Room: {{code}}</h2>
      <button class="logout-btn" onclick="logout()" class="logout-btn">Leave a Room</button>
    </div>
    <div class="room-header">
      <div class="language-selector">
        <label for="language">Select Language:</label>
        <select id="language" class="test">
          <option value="en">English</option>
          <option value="hi">Hindi</option>
          <option value="gu">Gujarati</option>
          <option value="es">Spanish</option>
          <option value="fr">French</option>
          <option value="de">German</option>
          <option value="zh-TW">Chinese (Traditional)</option>
          <option value="ar">Arabic</option>
          <option value="ru">Russian</option>
          <option value="pt">Portuguese</option>
          <option value="ja">Japanese</option>
          <option value="bn">Bengali</option>
          <option value="pa">Punjabi</option>
          <option value="ur">Urdu</option>
          <option value="id">Indonesian</option>
          <option value="sw">Swahili</option>
          <option value="tr">Turkish</option>
          <option value="it">Italian</option>
          <option value="nl">Dutch</option>
          <option value="ko">Korean</option>
          <option value="te">Telugu</option>
          <option value="ta">Tamil</option>
          <option value="mr">Marathi</option>
          <option value="vi">Vietnamese</option>
          <option value="th">Thai</option>
          <option value="ms">Malay</option>
          <option value="fil">Filipino</option>
          <option value="fa">Persian</option>
          <option value="pl">Polish</option>
          <option value="uk">Ukrainian</option>
          <option value="ro">Romanian</option>
          <option value="el">Greek</option>
          <option value="cs">Czech</option>
          <option value="hu">Hungarian</option>
          <option value="sv">Swedish</option>
          <option value="no">Norwegian</option>
          <option value="da">Danish</option>
          <option value="fi">Finnish</option>
          <option value="he">Hebrew</option>
          <option value="ar">Arabic</option>
          <option value="ku">Kurdish</option>
          <option value="ps">Pashto</option>
          <option value="ne">Nepali</option>
          <option value="si">Sinhala</option>
          <option value="ml">Malayalam</option>
          <option value="kn">Kannada</option>
          <option value="or">Odia</option>
          <option value="as">Assamese</option>
          <option value="yo">Yoruba</option>
          <option value="ig">Igbo</option>
        </select>
      </div>
    </div>

    <div class="room-messages" id="messages"></div>
    <div class="message-input">
      <div class="inputs">
        <input
          type="text"
          rows="3"
          placeholder="Message"
          name="message"
          id="message"
        />
        <div class="micro-phone" id="microphone-container"><i class="fas fa-microphone" id="microphone-icon"></i></div>
        <button class="send-btn" type="button" name="send" id="send-btn" onClick="sendMessage()">
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.test').select2();
  });
</script>

<script type="text/javascript">
  var socketio = io();
  console.log(socketio)
  const messages = document.getElementById("messages");
  const messageInput = document.getElementById("message");
  const microphoneIcon = document.getElementById("microphone-icon");
  const languageSelector = document.getElementById("language");
  
  const createMessage = (name, msg, language,date) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong> <p  id="message-p" lang="${language}">${msg}</p>
        </span>
        <span class="muted">
            <small>${date}</small> <audio id="audioPlayer"></audio><i class="fas fa-volume-up volume-icon" onclick="playAudio(this)"></i>
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.language,data.date);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };


  const recognition = new webkitSpeechRecognition();
  const microphoneContainer = document.getElementById('microphone-container');
 
  recognition.continuous = false;
  recognition.interimResults = false;
 
  recognition.onresult = (event) => {
    const result = event.results[0][0].transcript;
    messageInput.value += result;
  };
 
  recognition.onerror = (event) => {
    console.error("Speech recognition error:", event.error);
  };
 
  microphoneIcon.addEventListener("click", () => {
    recognition.start();
 
    // Add the effect here
    microphoneContainer.classList.add("blink");
    microphoneIcon.style.color = "#8931ffad"; // Change the color to red
  });
 
  recognition.onend = () => {
    // Reset the color and blinking effect after speech recognition
    microphoneContainer.classList.remove("blink");
    microphoneIcon.style.color = ""; // Reset to default color
  };


  $('.test').on('change', function () {
    var selectedLanguage = $(this).val();
    socketio.emit("changeLanguage", { language: selectedLanguage });
  });

  messageInput.addEventListener("keypress", (event) => {
    if (event.key === "Enter") {
      sendMessage();
    }
  });

  function logout() {
    window.location.href = "/";
  }

</script>


<script>
  function playAudio(icon) {
    console.log("playAudio function called");
    var textDiv = icon.closest('.text');
    var messageElement = textDiv.querySelector('#message-p');
    var message = messageElement.textContent.trim();
    console.log(message);
    var languageCode = messageElement.getAttribute('lang');
    console.log(languageCode);
 
    // Toggle the 'clicked' class on the icon
    icon.classList.toggle('clicked');
 
    // Add the 'blink' class after the icon is clicked
    icon.classList.add('blink');
 
    // Optionally, remove the 'blink' class after a certain duration if needed
    setTimeout(function() {
        icon.classList.remove('blink');
    }, 2800); // Adjust the duration (in milliseconds) as needed
  
    // Make sure socket is initialized and available
    if (socketio) {
        socketio.emit("play_audio", { languageCode: languageCode, messageText: message });
    }
  }
  
  // Add this event listener to handle incoming audio data from the server
  socketio.on('play_audio', function(data) {
    var audioPlayer = document.getElementById('audioPlayer');
    audioPlayer.src = 'data:audio/mp3;base64,' + data.audioData;
    audioPlayer.play();

    // Listen for the 'ended' event on the audio player
    audioPlayer.addEventListener('ended', function() {
        // Toggle the 'clicked' class back to its original state
        var icon = document.querySelector('.clicked');
        if (icon) {
            icon.classList.remove('clicked');
        }
    });
});
</script>



{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>

{% endfor %} {% endblock %}